
/*add my font */
@font-face {
    font-family: Pokefont;
    src: url('font/Pokemonfont.ttf');
}

@font-face {
    font-family: Pokefont2;
    src: url('font/PokemonHollow.ttf');
}



#list{
    font-family: Pokefont ;
    transform: translateX(700px);
    font-size: 80%;
    inline-size: 500px;
    overflow-wrap: break-word;
    color: white;
    border: solid;
    user-select: none;
}

#divpoke{
    position: absolute;
    top: 2%;
    right: 62%;
  user-select: none;
    z-index: 1;
}

#searchbox{
    float: left;
    display: block;
    color: rgb(255, 250, 250);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 27px;
    background-color: #706f6f;
    border-color: aliceblue;
    
}
#search{

    position: absolute;
    top: 440px;
    right: 60%;
    display: inline-block;
}
#pokedex{
    background-color: #3B3838;
    height: 100%;
    overflow: hidden;
    height: 1200px;
}

#button{
    position: absolute;
    top: 440px;
    right: 20%;
}
::placeholder{
    color: white;
}

#message{
    font-family: Pokefont2;
    color: rgb(233, 230, 230);
    text-align: center;
    position: relative;
    top: 45%;
    right: 0%;
    text-shadow:2px 2px #3B3838;
  letter-spacing: 3px;
  z-index: 1;
  user-select: none;


}

#ash{
    
    position: absolute;
    top: 115%;
    right: 45%;
    border: 5px solid rgb(233, 230, 230);
    z-index: 1;
}

#pokeball{
position: absolute;
top: 3%;
right: 9%;
z-index: 3;
}

#sinnoh{
    height: 90%;
    width: 100%;
    filter: brightness(50%);
    position: absolute;
    top: 100%;
    right: 0%;

}

#author{
    color: white;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-family: monospace;
    top: 100%;
    right: 5%;
    user-select: none;
}
#github{
    
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 19%;
    user-select: none;

}
#card{
    height: 400px;
    width: 200px;
    background-color: rgb(240, 240, 240);
    z-index: 0;
    position: absolute;
    top: 5%;
    right: 63%;
}


#card2{
    height: 400px;
    width: 200px;
    background-color: rgb(240, 240, 240);
    z-index: 0;
    position: absolute;
    top: 5%;
    right: 43%;
}
#listpoke{
    background-color: white;
    font-size: 50%;
    width: 470px;
    height: 600px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
    position: absolute;
    right: 7%;
    text-align:center;
    z-index: 2;
    border-bottom-left-radius: 10%;
    color: white;
    background-color: #3B3838;

}

ul {
    display:         flex;
    list-style-type: none;
    width:           400px;
    flex-wrap:       wrap;
  }
  
  li {
    flex: 33%;
  }